header {
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  top: 0;
  z-index: 999;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 20px;
      }
    }

    .logo {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    @media (max-width: 768px) {
      nav ul {
        display: none;
      }

      .menu-toggle {
        display: block;
      }
    }
  }
}
