.sidebar {
  background-color: #fdfbfb;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 59.18px; // 59.18
  left: -400px;
  transition: left 0.3s ease;

  &.open {
    left: 0;
  }
}

/* Add CSS styles for responsive design */
@media (max-width: 768px) {
  .sidebar {
    background-color: red;
  }

  .content {
    margin-left: 0;
  }
}
