.sidebar {
  background-color: #fdfbfb;
  width: 300px;
  height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  position: fixed;
  top: 65.29px; // 55.29
  left: -400px;
  transition: left 0.3s ease;
  border-right: 1px solid #ddd;

  &.open {
    left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

/* Add CSS styles for responsive design */
@media (max-width: 768px) {
  .sidebar {
    background-color: red;
  }

  .content {
    margin-left: 0;
  }
}
